html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.booking-banner {
    background-color: #000;
    width: 100%;
    height: 250px; /* Adjust as needed */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Stack heading and paragraph vertically */
    justify-content: flex-end; /* Align to bottom */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text inside */
}

    .booking-banner h2 {
        margin: 0;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .booking-banner p {
        margin: 5px 0 0;
        font-size: 1.2rem;
    }

/* Left side image */
.login-image {
    background-image: url('../images/pexels-heyho-7750115.jpg'); /* replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100%;
}

.create-image {
    background-image: url('../images/farhad-ibrahimzade-V2HDOQTJh3o-unsplash.jpg'); /* replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100%;
}

/* Login form styling */
.login-form {
    max-width: 400px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}


